[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hvac = {extras = ["parser"], version = "*"}
pika = "*"
requests = "*"
redis = "*"
pht-train-container-library = "*"
loguru = "*"

[dev-packages]
python-dotenv = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.9"
